.col-md-5 {
  outline: 4px solid #ffffff;
  background-color: #d9f5f7;
}
.col-md-7 {
  outline: 4px solid #ffffff;
  background-color: #f7f3d9;
}

.col-md-12 {
  outline: 4px solid #ffffff;
}
.sidebar {
  float:left;

  padding: 30px;
  height: 100%;
}
img {
  width: 100px;
}
ul{
    list-style-type: none;
}
#welcome {
  outline: 4px solid #ffffff;
}
.nav {
  outline: 4px solid #ffffff;
}
body {
  margin-top: 10px;
  background-color: #e0e0e0;
}
